@model Feed
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity!.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        Available feeds
                        <div id="feedsLoading" class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="list-group" id="feedList">
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
}
else
{
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Feed To Teams</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                An employee advocacy solution that enables companies to amplify their blog content via Microsoft Teams to employees, customers, and stakeholders and help them to share on social media. It's a user-friendly tool designed to help organizations increase their brand visibility.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Sign in to get started</a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 20vh;">
            <div class="container px-5">
                <img src="~/images/addnewfeed.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCreateForm">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Configure Feed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" id="CreateForm" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label">RSS Feed URL</label>
                <input type="url" id="rssurl" name="rssurl" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Select the Team</label>
                <div id="teamsLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <select class="form-select" id="teams" name="teams" required>
                    <option selected>Select team</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Select the Channel</label>
                <div id="channelsLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <select class="form-select" id="channels" name="channels" required>
                    <option selected>Select channel</option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Save Changes" />
            <input type="reset" class="btn btn-secondary" value="Cancel" data-bs-dismiss="offcanvas" />
        </form>
    </div>
</div>

@section Scripts
    {
    <script>
        var GetJoinedTeamsEndpoint = "@Url.Action("GetJoinedTeams", "Home")";
        var GetChannelsByIdEndpoint = "@Url.Action("GetChannelsById", "Home")";
        var CreateFeedEndpoint = "@Url.Action("CreateFeed", "Home")";
        var GetFeedsEndpoint = "@Url.Action("GetFeeds", "Home")";
        var SendFeedEndpoint = "@Url.Action("SendFeedToTeamsChannel", "Home")";
    </script>
}